$bp-inline-form: 411px;
$bp-split-layout: 769px;
$primary-colour: #0db138;
$accent-colour: #a70007;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  background: #F4FFF7;
  color: #000;
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}

article {
  margin: 0 auto;
}

@media (min-width: $bp-split-layout) {
  article.signup-form {
    display: flex;
    align-items: center;

    header {
      flex: 1 1 40%;
    }

    section {
      flex: 1 1 60%;
      max-width: 500px;
      margin-right: 20px;
    }
  }
}


.logo {
  padding: 20px;
  text-align: center;

  img {
    max-width: 100%;
  }
}


h2 {
  margin: 0;
  padding: 5px 0;
  text-align: center;
  font-size: 1.6em;
  background: $primary-colour;
  color: #fff;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 20px;
  background: #f0f0f0;

  label {
     flex: 1 1 100%;

    @media (min-width: $bp-inline-form) {
      flex-basis: 20%;
    }
  }

  input[type=text], input[type=email] {
    flex: 1 1 100%;
    margin: 0 0 24px;
    padding: 5px 10px;
    border-width: 0 0 2px 0;
    border-bottom: 2px #333 solid;
    font-size: 1.2em;
    background: none;

    &:focus {
      border-color: $accent-colour;
    }

    @media (min-width: $bp-inline-form) {
      flex-basis: 78%;
    }
  }

  .button {
    flex-basis: 50%;
    margin: auto;
    padding: 5px 0;
    border: 0;
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    background: $primary-colour;
    color: #fff;

    &:hover {
      background: $accent-colour;
    }
  }
}

.notes {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.github-corner {
  :hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }

  svg {
    display: none;

    @media (min-width: $bp-split-layout) {
      display: block;
    }
  }
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0)
  }
  20%, 60% {
    transform: rotate(-25deg)
  }
  40%, 80% {
    transform: rotate(10deg)
  }
}

article.login .error {
  flex-basis: 100%;
  text-align: center;
  color: $accent-colour;
  font-weight: bold;
}

article.admin form p {
  flex-basis: 100%;
}
