@import "foundation";
@include foundation-everything;

body {
  background: #FBF0E3 url(/images/pusheen_tree.gif) bottom right no-repeat;
  color: #896857;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}

article {
  max-width: 960px;
  margin: 0 auto;
  padding: 32px 0 0;
}

h1 {
  margin: 0 0 24px;
  color: #4D2A0A;
}

form {
  margin: 40px 0 0;
}

input[type=text], input[type=email] {
  margin: 0 0 24px;
  border: 2px #4D2A0A solid;
  border-radius: 5px;

  &:focus {
    border-color: #4D2A0A;
    box-shadow: 0 0 5px #4D2A0A;
  }
}

.button {
  background: #C74E45;
  border-radius: 5px;

  &:hover {
    background: #0C1C50;
  }
}

::-webkit-input-placeholder {
  color: #896857;
  opacity: 0.8;
}

:-moz-placeholder { /* Firefox 18- */
  color: #896857;
  opacity: 0.8;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #896857;
  opacity: 0.8;
}

:-ms-input-placeholder {
  color: #896857;
  opacity: 0.8;
}
