<% layout('layout'); %>
<h2>Admin</h2>

<h3>People signed up</h3>

<ul>
<% for(var i = 0; i < subscribers.length; i++) {%>
   <li><%= subscribers[i].name %> (<%= subscribers[i].email %>)</li>
<% } %>
</ul>

<% if (alreadySent) { %>
    <p>It looks like you already tried to send out emails</p>
<% } %>

<form method="post" action="/admin/create-send">
    <h3>Run</h3>
    <p>Click the following button to send out the email!</p>

    <input type="submit" class="button" value="Send" />
</form>

<% if (alreadySent) { %>
<form method="post" action="/admin/re-send">
    <h3>Re-send only failed</h3>

    <p>Click the following button to attempt re-send to any failed the emails!</p>

    <input type="submit" class="button" value="Send" />
</form>
<% } %>