<% layout('layout'); %>
<% block('page', 'signup-form'); -%>
<h2>Welcome to <%= title %></h2>
<form action="/save" method="post" class="grid-container">
    <label for="name">Name</label>
    <input id="name" type="text" name="name" required/>

    <label>Email</label>
    <input type="email" name="email" required/>

    <label>Favourite colour</label>
    <input type="text" name="colour"/>

    <label>Favourite animal</label>
    <input type="text" name="animal"/>

    <label>Gift suggestion</label>
    <input type="text" name="idea"/>

    <input type="submit" class="button" value="Sign up!"/>
</form>

<div class="notes">
    <p>The deadline is : <b><%= deadline %></b></p>
    <p>The spending limit is : <b><%= spendLimit %></b></p>
</div>
