<% layout('layout'); %>
<form action="/save" method="post">
  <div class="row">
    <div class="small-6 large-6 columns">
      <div class="row">
        <label>Your Name
          <input type="text" name="name"/>
        </label>
      </div>

    <div class="row">
      <label>Your Email
        <input type="email" name="email"/>
      </label>
    </div>

    <div class="row">
      <label>Favourite colour
        <input type="text" name="colour"/>
      </label>
    </div>

    <div class="row">
      <label>Favourite animal
        <input type="text" name="animal"/>
      </label>
    </div>

    <div class="row">
      <input type="submit" class="button" />
    </div>

    </div>
    <div class="small-6 large-6 columns">
      <p>The deadline is : xxx</p>
      <p>The spending limit is : xxx</p>
    </div>
  </div>

  </form>
