<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Secret Santa</title>

    <link href="/css/app.css" rel="stylesheet">

    <meta property="og:image" content="/images/fb_share.png" />
</head>
<body>
  <article>
    <h1>Secret Santa</h1>
    <%- body %>
  </article>
</body>
</html>
